*{
    margin:0;
    padding:0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body
{
background:#080808;
color: #fff;
}
#header{
    width:199;
    height:97vh;
    background-image: url(background.png.jpg);
    background-size: cover;
    background-position: center;
    
}
.height{
    margin: 500px;
    padding: 250px ;
}
.container{
    padding: 10px 120px;
}
nav{
    display: flex;
    align-items: left;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: left;
}
.logo {
    width: 140px;
}
nav ul li{
    display:inline-block;
    list-style:none;
    margin:10px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after {
    content:'';
    width: 0%;
    height: 3px;
    background: #ff004f;
    position:absolute;
    left:0;
    bottom:-6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.headertext{
    margin-top: 20%;
    font-size: 30px;
}
.headertext h1{
     font-size: 60px;
     margin:20px;
}
.headertext h1 span{
    color:gold
}

/* ------about-----*/
#about{
    padding:100px 0;
    color: #ababab;
}
.row{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{ 
    width: 100%;
    border-radius: 15px;

}
.about-col-2{
    flex-basis: 60%;
}
.subtitle{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width:0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left:0;
    bottom:-8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #b54769;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
/*-----------------------skills-------------*/
#skills{
    padding: 30px 0 ;
}
.skills-lists{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.skills-lists div{
    background: #262626;
    padding:40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 5px;
    transition: background 0.5s,transform 0.5s;
}
.skills-lists div i{
    font-size: 50px;
    margin-bottom: 30px;

}
.skills-lists div h2{
    font-size: 30px;
    font-weight: 50px;
    margin-bottom: 15px;
}
.skills-lists div a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.skills-lists div:hover{
    background:#ff004f;
    transform: translateY(-20px);
}
/*-------------------------contact---------------------------------------*/
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-10px);
}
.btn{
    display: inline-block;
    background: #ff004f;
    border-radius: 5px;
    width: 120px;
    height: 50px;
}
.contact-rightform{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
.copyright{
    width: 100%;
    text-align: center;
    padding:25px;
    background: #262626;
    font-weight: 300;
    margin-top:20px;
}
.copyright i {
    color: #ff004f;
}
/*-------------------------------css for small screen---------------------*/
nav .fa-solid{
    display: none;
}
nav .fa-regular{
    display: none;
}
@media only screen and (max-width: 400px) {
    #header{
        background-image:url(images/e92a595c45933ac37fcebdbb1918c462__1_-removebg-preview.png) ;
        size: auto;
    }
    .headertext{
        margin-top: 100%;
        font-size: 16px;
    }
    .headertext h1{
        font-size: 30px;
    }
    nav .fa-solid{
        display: block;
        font-size: 25px;
    }
    nav .fa-regular{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #ff004f;
        position: fixed;
        top: 0;
        width: 400px;
        right: -400px;
        height: 100vh ;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    nav ul .fa-regular{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .sub-title{
        font-size: 10px;
    }
    .about-col-1,.about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px; 
    }
    .about-col-2{
        font-size: 14px;
    }
    .contact-left,.contact-right{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 14px;
    }
 }